<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h2 class="masthead-title">
          <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
        </h2>
        <small>{{ site.tagline }}</small>
      </header>

      <main>
        {{ content }}
      </main>
      
      <div id="comments">
        {% include comments.html %}
      </div>

      {% include footer.html %}
    </div>

  </body>
</html>
